__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.venv/
.env
*.sqlite3
*.log
*.pot
*.pyc
instance/
.pytest_cache/
.mypy_cache/
/.vscode/
*.swp
Thumbs.db
desktop.ini
history.json
historial_pedidos.json
drivers.json
preferences.json
start_server.bat
start_server.ps1